
.main-article{
	text-align: center;
	
}
/*
.benefit{
	background-color: @body-bg;
}

.benefit--background-color-grey{
	background-color: @grey;
}
.benefit--background-color-blue{
	background-color: @blue;
}
*/
.benefit{
	padding: 30px 0;
  }
.benefit__list{

	list-style: none;
}
.container-top,
.container-section{
	padding: 45px 20px;
	box-sizing: border-box;
 }
.container-top{
	background-color: @body-bg;
	height: 220px;
}
.container-section{
	background-color: @blue;
}
.container-section--grey{
	background-color: @grey;
	padding: 0px 20px;
}
.container-feature{
  text-align: left;
  }
.benefit--border-bottom{
	border-bottom: 1px solid @border-color;
}
