
.page-header {
	width: 100%;
	margin: 0 auto;
  
    &__logo {
    width: 140px;
    margin: 0 auto;
    }
}

.main-nav {
	
    &__list {
    list-style: none;
    margin:0px;
    padding:0px;
    }
    &__list-item {
    display: block;
    background-color: @blue;
    padding: 15px 0;
    border-bottom: 1px solid @blue;
    }
}


.main-nav-list-item__link {
	text-decoration: none;
	color: @text-color-white;
	font-size: @font-size-h1;
	font-weight: 700;
	
}