body{
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
}
h1, h2, h3, h4
{
	font-weight: @headings-font-weight;
	line-height: @line-height-base;
}
h1{
	font-size: @font-size-h1;
}
h2 {
	font-size: @font-size-h2;
}
h3 {
	font-size: @font-size-h3;
}
.main-article__title
{
	font-weight: 700;
}
.benefit__title
{	
	font-size: @font-size-h2;
	font-weight: 700;
}

/*buttons*/
.find-hotel__link{
	font-size: @font-size-blue-btn;
	font-weight: 700;
}
